/* @import url(../fonts/inter.css); */

/* .page {
  background-color: #2a2c2f;
} */

/* .header {
  padding: 0;
  max-width: 928px;
  margin: auto;
  height: 52px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  color: #ffff;
} */

/* .header__logo {
  background-image: url(../image/__logo.svg);
  height: 100%;
  width: 176px;
} */

/* .header__lang-link {
  height: fit-content;
  margin-top: 18px;
  margin-bottom: 6px;
} */

/* .link-ru {
  margin-right: 18px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */

/* .link-en {
  color: #ffff;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */
