/* @import url(../fonts/inter.css); */

/* .page {
  background-color: #2a2c2f;
} */

/* .header {
  padding: 0;
  max-width: 928px;
  margin: auto;
  height: 52px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  color: #ffff;
} */

/* .header__logo {
  background-image: url(../image/__logo.svg);
  height: 100%;
  width: 176px;
} */

/* .header__lang-link {
  height: fit-content;
  margin-top: 18px;
  margin-bottom: 6px;
} */

/* .link-ru {
  margin-right: 18px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */

/* .link-en {
  color: #ffff;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */

/* .lead {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  border: 1px solid red;
}

@media screen and (min-width: 1280px) {
  .lead {
    min-width: 984px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
  }
}

.lead__title {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


@media screen and (max-width: 730px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  margin-top: 32px;
  width: 640px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  text-align: center;
}

@media screen and (max-width: 730px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 32px;
  }
}

.lead__image {
  background-image: url(../image/lead-image.jpg);
  width: 100%;
  height: 580px;
  margin-top: 56px;
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin-top: 64px;
  }
}

.lead__caption {
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
} */

/* .intro {
  margin-top: 114px;
  margin-left: 48px;
  max-width: 690px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  font-weight: 900;
  line-height: 58px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }  
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 33px;
}

.intro__list {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
} */

/* .photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 92px 48px 0;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

  justify-items: stretch;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 92px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 92px 16px 0;
  }
} */
