/* @import url(../fonts/inter.css); */

/* .page {
  background-color: #2a2c2f;
} */

/* .header {
  padding: 0;
  max-width: 928px;
  margin: auto;
  height: 52px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  color: #ffff;
} */

/* .header__logo {
  background-image: url(../image/__logo.svg);
  height: 100%;
  width: 176px;
} */

/* .header__lang-link {
  height: fit-content;
  margin-top: 18px;
  margin-bottom: 6px;
} */

/* .link-ru {
  margin-right: 18px;
  color: #ffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */

/* .link-en {
  color: #ffff;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
} */

/* .lead {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 928px;
  border: 1px solid red;
}

@media screen and (min-width: 1280px) {
  .lead {
    min-width: 984px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    margin-top: 56px;
  }
}

.lead__title {
  max-width: 720px;
  font-family: "Inter", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


@media screen and (max-width: 730px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  margin-top: 32px;
  width: 640px;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  text-align: center;
}

@media screen and (max-width: 730px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-top: 32px;
  }
}

.lead__image {
  background-image: url(../image/lead-image.jpg);
  width: 100%;
  height: 580px;
  margin-top: 56px;
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    margin-top: 64px;
  }
}

.lead__caption {
  margin-top: 8px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
} */

/* .intro {
  margin-top: 114px;
  margin-left: 48px;
  max-width: 690px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  font-weight: 900;
  line-height: 58px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }  
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 33px;
}

.intro__list {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
} */

/* .photo-grid {
  display: grid;
  max-width: 1184px;
  margin: 92px 48px 0;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

  justify-items: stretch;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    margin: 92px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 92px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 92px 16px 0;
  }
} */

/* .places {
  margin-top: 92px;
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: 984px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 360px) {
  .places {
    margin: 64px auto 0;
  }
} */

/* .place {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: stretch;
  gap: 48px 32px;
}

.place:not(:first-child) {
  margin-top: 80px;
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
    max-width: 984px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
} */

/* .place__title {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 360px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
} */

/* .place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 360px) {
  .place__website {
    margin: 32px 16px 0;
  }
} */

/* .place__url-heading {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
} */

/* .place__link {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffff;
} */

/* .place__image {
  max-width: 460px;
  max-height: 460px;
} */

/* .place__paragraph {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin: 0;
}

.place__paragraph:not(:first-child) {
  margin-top: 26px;
}

@media screen and (max-width: 360px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    min-width: 484px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
} */

/* .cover {
  background-image: url(../image/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 640px;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 640px;
  margin-top: 92px;
}

.cover:hover {
  opacity: 0.8;
  cursor: url(../image/Imported\ Layers\ Copy\ 4.svg);
}

@media screen and (min-width: 1025px) {
  .cover {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 360px) {
  .cover {
    max-height: 200px;
    margin-top: 66px;
  }
} */

/* .cover__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
} */

/* .cover__title {
  font-family: "Inter";
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 360px) {
  .cover__title {
 font-size: 32px;
 line-height: 35px;
  }
} */

/* .cover__subtitle {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-top: 32px;
  text-align: center;
  color: #FFFFFF;
  max-width: 360px;
}

@media screen and (max-width: 360px) {
  .cover__subtitle {
    font-size: 14px;
 line-height: 16px;
  }
} */
