.header__logo {
  background-image: url(../../../image/__logo.svg);
  min-height: 52px;
  width: 176px;
}

@media screen and (max-width: 425px) {
  .header__logo {
    background-image: url(../../../image/__logo320.svg);
    min-height: 42px;
    width: 142px;
  }
}
