.header {
  padding: 0;
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  color: #ffff;
  margin-top: 28px;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1184px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 42px;
    max-width: 288px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
