.intro__title {
    font-family: "Inter", sans-serif;
    font-size: 49px;
    font-weight: 900;
    line-height: 58px;
  }
  
  @media screen and (max-width: 320px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
    }  
  }